.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 60px;
}
.input{
    margin-right: 50px;    
    height: 40px;
    min-width: 600px;
    font-size: 24px;
}
.searchBtn{
    
}